<p>
    A list of words / phrases to learn in a demo language learning app based on word frequency in target language.<br/>
    A user can see all words to learn, which words have been learned (and the predicted strength in memory based on a modifed version of the Super Memo 2 algorithm) and which words are currently being learned.
</p>
<p>
    Mock data is stored in a json file and loaded via a shared core data service.<br>
    Using a PrimeNG table, words can be sorted and searched. Virtual scrolling is in place to optimise and remove jankiness.
</p>
<p> Words to learn: 500, Words learned: 25, Words being learned: 10, Words due for revision: 10</p>

<p-table #dt [value]="words" styleClass="p-datatable-striped" [scrollable]="true" scrollHeight="250px"
[virtualScroll]="true" [virtualRowHeight]="34" [globalFilterFields]="['word','translation']">
    <ng-template pTemplate="caption">
        
        <div style="text-align: right">
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="word">Word<p-sortIcon field="word"></p-sortIcon></th>
            <th pSortableColumn="translation">Translation<p-sortIcon field="translation"></p-sortIcon></th>
            <th>Learned</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-word>
        <tr>
            <td>{{ word.word }}</td>
            <td>{{ word.translation }}</td>
            <td>{{ word.learned }}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer" let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{col.header}}
            </td>
        </tr>
    </ng-template>
</p-table>