Ik weet niet wat dat is	<br/>
I don't know what that is<br/>
play audio<br/>
hide

<!--<p>review works!</p>
<div>
    {sourceArray.length}
      {options.showAnswer ? 'look / cover / write' : 'translate / write'}
      <p><strong>CombineElements:</strong> {data.word}</p>
      {options.showAnswer && showPhase ? (
        <div>
          <div>{data.translation}</div>
          <p><a href="#" onClick={ () => { PlayAudio.play( data.id )}} >play word</a></p>
          <button onClick={ () => { setShowPhase( () => false)}}>hide</button>
        </div>
      ) : (
        <div>
          {answersArray}<br/>
          {answersProcessedArray}
          <p>this is where the rearranging activity bits and bobs goes</p>
          {optionsArray}
          <hr/>
          {hintsEnabled && allHintsEnabled && <button onClick={needsHint}>get hint</button> }
          {options.showAnswer && <p><a href="#" onClick={ () => { PlayAudio.play( data.translation )}} >play audio</a></p>}
        </div>
      )}

    </div>-->