How do you say <strong>"{{word.word}}"</strong> in Dutch?
<br/>
<div *ngIf="showing"><strong>"{{word.translation}}"</strong></div>
<button (click)="playAudio( )">Listen</button><br/>
<button *ngIf="showing" (click)="hideTranslation( )">Test now</button><br/>

<div *ngIf="!showing">
    <button *ngFor='let answer of answersArray' (click)="removeOption( answer )">{{sourceArray[answer]}} </button>
</div>

<div *ngIf="!showing">
    <button *ngFor='let option of optionsArray' (click)="addOption( option.index )">{{option.label}}</button>
</div>

<div *ngIf="disabled">
    <button (click)="generateQuestion( demoWords[ currentWord ] )">Next question</button>
</div>