/* You can add global styles to this file, and also import other style files */
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/mdc-dark-indigo/theme.css';
@import '~primeng/resources/primeng.css';
@import '~primeflex/primeflex.css';

body{
    background-color: #161616;
}

.container {
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
}

.p-menuitem-icon .badge {
	background: rgba(144, 202, 249, 0.92);
	color: #212121;
    border-color: transparent;
    position: absolute;
	border-radius: 100%;
	min-width: 15px;
	height: 15px;
	text-align: center;
	line-height: 15px;
	font-size: 11px;
    right: 0;
    padding-left: 4px;
    padding-right: 4px;
    font-family: roboto;
}